/* Existing CSS for body, etc... */

/* Add CSS for the body to set the background color */
body {
  background-color: #000000; /* Set the background color to black */
  /* Other styles for body if needed */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white; /* Default text color set to white */
}

/* CSS for the title image */
#titleImage {
  width: 90%; /* Set the width to match the game images width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Block display to allow margin auto to work */
  margin: 20px auto; /* Center the image horizontally and add some space */
}

/* Ensure that the CSS for the game images matches */
#imageContainer {
  width: 90%; /* or whatever width you prefer */
  margin: 0 auto 20px;
  min-height: 300px; /* Adjust this value based on the average height of your images */
  position: relative; /* Ensures that the button stays below regardless of image container height */
}


/* CSS for the game container */
#gameContainer {
  text-align: center; /* Center contents */
  padding-bottom: 20px; /* Add padding to the bottom to avoid overlap */
}

/* CSS for the START button */
#startButton {
  background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient background */
  color: #fff; /* White text color */
  padding: 20px 40px;
  font-size: 1.5em;
  border: none;
  border-radius: 25px; /* Round corners */
  cursor: pointer;
  display: block;
  width: 60%; /* Adjust width as needed */
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

#startButton:hover, #startButton:focus {
  background: linear-gradient(to right, #feb47b, #ff7e5f); /* Change gradient direction */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Larger shadow on hover */
  transform: translateY(-2px); /* Slight lift */
}

/* CSS for the action text */
#actionText h2 {
  color: yellow; /* Keep the title yellow */
  margin: 10px 0 0 0; /* Margin adjustment */
}

#actionText .instructions {
  color: white;
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 40px; /* Increase the bottom margin to ensure separation from the START button */
}

/* Add media query for mobile responsiveness */
@media (max-width: 768px) {
  #startButton {
    width: 80%; /* Increase width of the button on mobile for easier tap */
    margin-bottom: 40px; /* Increase the bottom margin on mobile to prevent overlap */
  }

  #titleImage {
    max-width: 50%; /* Increase the max-width for mobile devices if the title image is too small */
  }
}
